@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
  background-image: url(../img/background.jpg);
  z-index: -1;
}

main {
  width: 80%;
  margin: 0 10%;
}

.title {
  outline: 2px solid blue;
}

h1 {
  margin-top: 10%;
  text-align: center;
  z-index: 1;

}

span {
  background-color: #53b6fc;
  padding: .15em;
  box-shadow: 8px 8px 5px #000;
}

p {
  font-size: 1.2em;
  margin-top: 7%;
  text-align: center;
}

.form {
  text-align: center;
  margin-top: 10%;
}

select {
  font-size: 1.2em;
  margin-left: 1%;
  border:1px solid #E5E5E5;
}

input[type=text] {
  width: 40%;
  font-size: 1.2em;
  padding: .85%;
  margin-left: 1%;
}

.gifNumber {
  margin-top: 5%;
  font-size: 1.2em;
}

.gifSearch {
  margin-top: 7%;
}

button {
  background-color: #2980b9;
  color: white;
  width: 20%;
  font-size: 1.1em;
  box-shadow: 8px 8px 5px #000;
  margin-left: 1%;
  padding: 1%;
  border: none;
  cursor: pointer;
  transition: 350ms all;
  &:hover {
  background: #236d9d;
  }
}

.gifList {
  width: 80%;
  margin: 10% 10% 0% 10%;
}

.gifListItem {
    display: inline-block;
    width: 50%;
    margin: 2.5% 25% 2.5% 25%;
}
